@font-face {
	font-family: 'BEYNO';
	src: url('./BEYNO.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'CanelaBarkBoldPersonal';
	src: url('./CanelaBarkBoldPersonal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Bianlidian';
	src: url('./Bianlidian.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
