.el-card:not(:first-child) {
	border-radius: 20px;
}
@media screen and (orientation: landscape) {
	:deep(.el-card__body) {
		padding: 0.9375rem;
	}
}
@media screen and (orientation: portrait) {
	.el-card:not(:first-child) {
		:deep(.el-card__body) {
			padding: 0.9375rem 0 0.9375rem 0.9375rem;
		}
	}
}
.el-space {
	align-content: flex-start;
}

.song-content {
	padding: 0.9375rem;
	.slogan {
		margin: 0 auto;
		background: url(@/assets/cool-background.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		.logo {
			text-shadow: 0.0625rem 0.0625rem 0.125rem black;
			color: white;
			font-size: 2.7rem;
			text-align: center;
			font-weight: bolder;
			font-family: BEYNO;
			height: 5rem;
			line-height: 5rem;
		}
		.logo-cn {
			text-shadow: 0.0625rem 0.0625rem 0.125rem black;
			color: #a2d3ff;
			font-size: 2.25rem;
			font-weight: bolder;
			text-align: right;
			font-family: Bianlidian;
		}
		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background: url(@/assets/avater.png) no-repeat 8% bottom;
			background-size: 22%;
			z-index: -1;
		}
	}
	.song-main {
		width: 100%;
	}
	.song-list {
		margin-bottom: 20px;
	}
	.song-item {
		min-width: 4.5rem;
		margin: 5px 0.5rem 5px 0;
		white-space: break-spaces;
		line-height: unset;
		min-height: 24px;
		padding: 4px 9px;
		height: unset;
	}
}
.singer-item {
	border: 1px gray dashed;
	border-radius: 0.3125rem;
	padding: 0.3125rem;
	font-size: 0.875rem;
	margin: 0 0.625rem 0.625rem 0;
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	background: #fff;
}

.singer {
	font-size: 0.75rem;
	margin-left: 3px;
	color: #b7b7b7;
}
